<div class="container products">

    {{#each allCarts}}
    <div class="list-products">
        <div class="products-header">

            <h2>Carrito N°:{{id}}</h2>
            <p>Id:{{id}}</p>
        </div>
        <h3>Productos en el Carrito:</h3>        
        <br>
        {{#each products}}
        <p>Producto con el ID: {{product}}</p>
        <p>Cantidad:{{quantity}}</p>
        <hr>
        {{/each}}

    </div>
    {{/each}}


</div>


{{!-- {
"id": 1,
"products": [
{
"product": 8,
"quantity": 2
}
]
}, --}}