* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(29, 29, 29);
    background-image: url('../images/bg-wte.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

*::-webkit-scrollbar {width: 8px; height: 4px; }
*::-webkit-scrollbar-track {background: rgba(0, 0, 0, 0.527); }
*::-webkit-scrollbar-thumb {background-color: yellow; border-radius: 12px; }


header,
footer {
    display: flex;
    align-items: center;
    background-color: black;
    text-align: center;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

header {
    margin-top: 0%;
    min-height: 10vh;
    border-bottom: solid .5px whitesmoke;
    gap: 30px;
    justify-content: space-around;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
.logo{
    max-width: 45px;
}
.bigLogo{
    max-width: 200px;
    margin-bottom: 1rem;
}
.img-home{
    width: 100%;
    object-fit: contain;
    margin-top:2rem ;
    box-shadow: 0 0 12px 3px;
    border-radius: 100%;
}
footer {
    margin-bottom: 0%;
    min-height: 8vh;
    border-top: solid .5px whitesmoke;
    justify-content: center;
    padding: 18px;

}

h2,
h4 {
    color: white;
}
a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: all ease .5s;
    border-radius: 12px;
}
a:hover{
    color: yellow;
    background-color: rgba(255, 255, 255, 0.205);
}
main,
.app {
    display: flex;
    flex-direction: column;
    min-height: 82vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.app {
    width: 95%;
    height: 100%;
}
.container {
    background-color: rgba(0, 0, 0, 0.850);
    color: yellow;
    border: solid .5px white;
    border-radius: 18px;
    box-shadow: 0 0 12px 4px black;
}
.home{
    margin: 6rem auto;
    padding: 2rem 40px;
    width: 80%;
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
}
.products{
    margin: 2rem auto;
    padding: 2rem 1rem;
    width: 95%;
}
h1{
    width: 95%;
    padding-left: 12px ;
    border-bottom: solid 2.8px yellow;
    border-radius: 8px;
    margin: auto;
}
.list-products{
    display: flex;
    flex-direction: column;
    margin: 3rem auto;
    width: 85%;
    gap: 15px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px 1px rgba(255, 255, 255, 0.788);
    padding: 10px 20px;
    transition: all 1s;
}
.list-products:hover{
    transform:  scale(1.02);

    box-shadow: 0px 4px 12px 6px rgba(255, 255, 255, 0.788);

}
.products-header{
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    border-bottom: solid 2px whitesmoke;
    border-radius: 8px;
    background-color: black;
    padding: 10px;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 30%;
    gap: 20px;
    padding: 8px 0; 
}
nav{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    width: 45%;
}
.error{
    display: flex;
    flex-direction: column;
    margin:  auto;
    padding: 2rem auto;
    width: 60%;
    object-fit: contain;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    margin: 2rem auto;
    padding: 1.5rem;
    gap: 22px;
    border-radius: 30px;
    box-shadow: 0 0 20px 5px yellow;
}
.form input{
    padding: .8rem;
    width: 70%;
    border-style: none;
    background-color: rgba(77, 77, 77, 0.7);
    border-radius: 10px ;
    color: white;
    box-shadow: 0 0 4px 1px yellow;
    font-size: 1rem;
    font-weight: 500;
    transition: all .5s;
}
.form input::placeholder{
    color: whitesmoke;
}
.form input:hover{
    background-color: black;
}
#addProduct{
    font-weight: 600;
    width: auto;
    padding: 1rem 2rem;
    background-color: yellow;
    color: black;
}
#addProduct:hover{
    background-color: black;
    color: white;
}
section{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 15px;
}
#status{
    padding: .5rem;
}
#msj-form{
    text-align: center;
    margin: 0 auto .5rem;
    padding: 15px 20px;
    background-color: black;
    border-radius: 25px;
    box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.5);
}
#btn-delete,#btn-update{
    width: 60%;
    padding: 10px 12px;
    margin: auto;
    border-radius: 12px;
    font-weight: 600;
    transition: all .5s;
    font-size: .9rem;
    border: solid .5px black;
    box-shadow: 0 0 1px 1px rgb(250, 250, 250);
    background-color: rgba(123, 255, 0, 0.589);

}
#btn-delete{
    background-color: rgba(255, 0, 0, 0.5);
    color: white;
}
#btn-delete:hover{
    background-color: rgba(255, 27, 27, 0.884);
}
#btn-update:hover{
    background-color:  rgba(123, 255, 0, 0.897);
}
#socket-list{
    transition: all 1s;

}
@media ( max-width: 600px ){
    .header{
        display: none;
    }
    nav{
        width: 80%;
    }
    .form input{
        width: 100%;
    }
}
