<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../../images/logo.png" />
    <link rel="apple-touch-icon" href="../../images/logo.png" />
    <link rel="stylesheet" href="../../styles/main.css">
    <link rel="stylesheet" href="../../styles/chat.css">
    <title>Maidana Project</title>
</head>

<body>
    <header>
        <div class="header">
            <img alt='logo' class='logo' src="../../images/logo.png">
            <h2> Maidana Project </h2>
        </div>

        <nav>
            <a href="/">Inicio</a>
            <a href="/views/products">Productos</a>
            <a href="/views/carts">Carrito</a>
            <a href="/views/chat">Chat</a>
        </nav>
    </header>
    <main>
        <div class="app">
            {{{body}}}
        </div>
    </main>
    <footer>
        <h4> Maidana Project </h4>
    </footer>
</body>

</html>